$primary: #9356dc;
$secondary: #ff79da;
$tertiaire: #99e2d0;
$grey: #f8f7f7;
$dgray: gray;
$lightgray: rgb(231, 231, 231);
$newtagcolor: lightseagreen;
$purplehover: rgba(255, 0, 234, 0.2);
$footercolor: #535353;
$bgbutton: linear-gradient(
  to bottom right,
  #e16fda 0%,
  #e270da 45%,
  #a55cdb 70%,
  #ab65ed 100%
);
